{% extends "layout.html" %}

{% block content %}

<div class="card card-custom">

    <h3 class="text-center mb-2">Captura Facial</h3>
    <p class="text-center text-muted">Etapa 2 de 2 - Biometria</p>

    <!-- CÂMERA -->
    <div id="cameraArea" class="camera-container">

        <video id="video" autoplay playsinline></video>

        <div class="overlay"></div>
        <div class="oval-frame"></div>

        <p id="statusFace">🔴 Posicione seu rosto</p>
        <p id="contador"></p>

    </div>

    <!-- FORM -->
    <form method="POST" action="/salvar">

        <!-- 🔥 ESSENCIAL -->
        <input type="hidden" name="imagem" id="imagem">

        <div class="d-grid mt-4">
            <button type="submit" class="btn btn-success">
                Finalizar Cadastro
            </button>
        </div>

    </form>

</div>

<!-- 🔥 ESSENCIAL -->
<canvas id="canvas" width="300" height="200" style="display:none;"></canvas>

<!-- 🔥 ESSENCIAL -->
<script src="{{ url_for('static', filename='js/camera.js') }}"></script>

{% endblock %}