body {
    background: linear-gradient(135deg, #1f1f1f, #2c3e50);
    color: #fff;
    height: 100vh;
}

.container-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 40px;
    padding-bottom: 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(255,255,255,0.6);

    /* cria o “buraco” oval */
    mask: radial-gradient(circle at center, transparent 30%, black 31%);
    -webkit-mask: radial-gradient(circle at center, transparent 30%, black 31%);
}

.oval-frame {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
    border: 3px solid #00ffcc;
    border-radius: 50%;
    pointer-events: none;
}

.card-custom {
    background: #ffffff;
    color: #000;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    padding: 30px;
}

.camera-container {
    position: relative;
    width: 100%;
}

video {
    width: 100%;
    border-radius: 10px;
}

.btn-custom {
    border-radius: 30px;
}

#contador {
    font-size: 22px;
    text-align: center;
    color: red;
}

#statusFace {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.admin-wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #1f2429, #2c3e50);
}

.admin-sidebar {
    width: 240px;
    min-height: 100vh;
    background: #111827;
    padding: 30px 20px;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
}

.admin-logo {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.admin-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin-link {
    color: #cbd5e1;
    text-decoration: none;
    padding: 14px 18px;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: 500;
}

.admin-link:hover,
.admin-link.active {
    background: #2563eb;
    color: #fff;
}

.admin-content {
    margin-left: 240px;
    padding: 35px;
    width: calc(100% - 240px);
    min-height: 100vh;
}

.admin-title {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 350px;
}

.card {
    border-radius: 12px;
}

.chart-box {
    position: relative;
    width: 100%;
    height: 280px;
}

.dashboard-card {
    min-height: 380px;
}